body {
    background: url("782955.jpeg");
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
   
}

#container {
    margin: auto;
    display: grid;
    border: 15px solid purple;
    border-radius: 10px;
    height: 450px;
    width: 450px;
    background-color: lightgray;
    position: relative;
    top: 100px;
    margin-bottom: -100px;
}

.input {
    background: rgb(128,128,128, 0.6);
    width: 200px;
    height: 250px;
    position: relative;
    margin: auto;
    right: 500px;
    bottom: 200px;
    border: 5px solid purple;
    border-radius: 5px;
  
}

.title {
    color: purple;
    font-size: 33px;
}

#gridsize {
    border-radius: 5px;
    border-style: none;
    text-align: center;
    margin: 22px;
    width: 100px;
    position: relative;
    left: 27px;
}

#gridsize:focus {
    outline:none;
}

#submit {
    border-radius: 50%;
    border-style: none;
    position: relative;
    left: 77px;
    bottom: 5px;
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;

}

#color {
    position: relative;
    right: px;
    top: 45px;
    border-style: none;
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 30px;
}

#reset {
    position: relative;
    top: 50px;
    border-style: none;
    border-radius: 10px;
    width: 55px;
    height: 20px;
    background-color: purple;
    color: white;
    left: 75px;

}

#reset:hover, #submit:hover, #color:hover {
    background: black;
}

@media  (max-width: 600px) {
    #container {
        height: 300px;
        width: 300px;
        
    }
}

@media  (max-width: 1250px) {
  .input {
      right: 0px;
      top: 300px;
     
      
  }
}